node red/flows.json
[
    {
        "id": "7483b2ce7162c88b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d099eef6dc673aa",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e4696764f829f966",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f65dcc0a5136762",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "fall",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "6894eec0502b14a3",
        "type": "twilio-api",
        "name": "Dispatcher",
        "sid": "ACe92c16e0f01b02e312480f358920a450",
        "from": "+16165121604"
    },
    {
        "id": "78d7f9c09bd7fb86",
        "type": "debug",
        "z": "7483b2ce7162c88b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "db3bd28f34d96a4e",
        "type": "function",
        "z": "7483b2ce7162c88b",
        "name": "",
        "func": "\nmsg.topic = 'INSERT INTO testTable VALUES (6, 678, \"https\");'  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "78d7f9c09bd7fb86",
                "ba5526fc0607e735"
            ]
        ]
    },
    {
        "id": "ba5526fc0607e735",
        "type": "mysql",
        "z": "7483b2ce7162c88b",
        "mydb": "9f65dcc0a5136762",
        "name": "db",
        "x": 710,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "176e0f95c3d278a6",
        "type": "http in",
        "z": "7483b2ce7162c88b",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "db3bd28f34d96a4e",
                "62697584713aca9d"
            ]
        ]
    },
    {
        "id": "62697584713aca9d",
        "type": "http response",
        "z": "7483b2ce7162c88b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "3462d5cc9bf604b8",
        "type": "mysql",
        "z": "4d099eef6dc673aa",
        "mydb": "9f65dcc0a5136762",
        "name": "db",
        "x": 590,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d490d284cf97f51b",
        "type": "debug",
        "z": "4d099eef6dc673aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "05bae042293c9ab8",
        "type": "inject",
        "z": "4d099eef6dc673aa",
        "name": "msg",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO testTable VALUES (2, 456, \"delete\"); ",
        "payload": "{\"id\":1,\"number\":123,\"string\":\"yeet\"}",
        "payloadType": "json",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "d490d284cf97f51b",
                "3462d5cc9bf604b8"
            ]
        ]
    },
    {
        "id": "1241cef41ae427dd",
        "type": "function",
        "z": "e4696764f829f966",
        "name": "",
        "func": "\n\nvar fall = msg.payload.fall;\nvar address = msg.payload.address;\nvar id = parseInt(msg.payload.id);\nvar name = msg.payload.name;\n\nvar address2 = \"'\" + address + \"'\";\nvar fall2 = \"'\" + fall + \"'\";\nvar name2 = \"'\" + name + \"'\";\n\n\nmsg.topic = \"INSERT INTO fallTable VALUES (\" + id + \", \" + name2 + \", \" + address2+ \", \" + fall2 +\");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "2ca89473d9eabd39",
                "c0f8a15df6b263cd"
            ]
        ]
    },
    {
        "id": "2ca89473d9eabd39",
        "type": "mysql",
        "z": "e4696764f829f966",
        "mydb": "9f65dcc0a5136762",
        "name": "db",
        "x": 670,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "bbf32356cd954afe",
        "type": "http in",
        "z": "e4696764f829f966",
        "name": "",
        "url": "/add",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "1241cef41ae427dd",
                "ba8d3dbeb7b3e166"
            ]
        ]
    },
    {
        "id": "ba8d3dbeb7b3e166",
        "type": "http response",
        "z": "e4696764f829f966",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 420,
        "y": 320,
        "wires": []
    },
    {
        "id": "4d1fefa9ce757bb4",
        "type": "debug",
        "z": "e4696764f829f966",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "3532a1c61932f496",
        "type": "function",
        "z": "e4696764f829f966",
        "name": "",
        "func": "\nvar id = parseInt(msg.payload.id);\n\nmsg.topic = \"DELETE FROM fallTable WHERE id=\" + id + \";\"  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "4d1fefa9ce757bb4",
                "d69b430211aa2e1a"
            ]
        ]
    },
    {
        "id": "d69b430211aa2e1a",
        "type": "mysql",
        "z": "e4696764f829f966",
        "mydb": "9f65dcc0a5136762",
        "name": "db",
        "x": 670,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "28058dc0f8ef20c2",
        "type": "http in",
        "z": "e4696764f829f966",
        "name": "",
        "url": "/delete",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 460,
        "wires": [
            [
                "3532a1c61932f496",
                "0c003b84f180b2e1"
            ]
        ]
    },
    {
        "id": "0c003b84f180b2e1",
        "type": "http response",
        "z": "e4696764f829f966",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 420,
        "y": 580,
        "wires": []
    },
    {
        "id": "57454ca867865ed6",
        "type": "debug",
        "z": "e4696764f829f966",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1040,
        "wires": []
    },
    {
        "id": "05011c5a527de278",
        "type": "function",
        "z": "e4696764f829f966",
        "name": "",
        "func": "var id = parseInt(msg.payload.id);\n\nmsg.topic = \"UPDATE fallTable SET fall = 'True' WHERE id = \" + id + \";\" \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 900,
        "wires": [
            [
                "268533de2a5a27d9"
            ]
        ]
    },
    {
        "id": "268533de2a5a27d9",
        "type": "mysql",
        "z": "e4696764f829f966",
        "mydb": "9f65dcc0a5136762",
        "name": "db",
        "x": 570,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "0f1cfa3e44df39cb",
        "type": "http in",
        "z": "e4696764f829f966",
        "name": "",
        "url": "/fall_detected",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 960,
        "wires": [
            [
                "05011c5a527de278",
                "74c3741eab2e1161",
                "9823676a6d7ccf59"
            ]
        ]
    },
    {
        "id": "74c3741eab2e1161",
        "type": "http response",
        "z": "e4696764f829f966",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 1060,
        "wires": []
    },
    {
        "id": "be4d0aa98d92dd26",
        "type": "debug",
        "z": "e4696764f829f966",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 620,
        "wires": []
    },
    {
        "id": "d8ceacca62b822d8",
        "type": "function",
        "z": "e4696764f829f966",
        "name": "",
        "func": "var fall = msg.payload.fall;\nvar address = msg.payload.address;\nvar id = parseInt(msg.payload.id);\nvar name = msg.payload.name;\n\nvar address2 = \"'\" + address + \"'\";\nvar fall2 = \"'\" + fall + \"'\";\nvar name2 = \"'\" + name + \"'\";\n\n msg.topic =\"UPDATE fallTable SET name =\" + name2 + \" ,address = \" + address2 + \" ,fall = \" + fall2 + \"WHERE id = \" + id + \";\" \n   \n\n\n//msg.topic = \"SELECT * FROM `fallTable`\"  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 700,
        "wires": [
            [
                "be4d0aa98d92dd26",
                "fecfb0863d0a276c"
            ]
        ]
    },
    {
        "id": "fecfb0863d0a276c",
        "type": "mysql",
        "z": "e4696764f829f966",
        "mydb": "9f65dcc0a5136762",
        "name": "db",
        "x": 670,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d10fe35ee1432604",
        "type": "http in",
        "z": "e4696764f829f966",
        "name": "",
        "url": "/put",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 640,
        "wires": [
            [
                "d8ceacca62b822d8",
                "5a743574c016d64e"
            ]
        ]
    },
    {
        "id": "c0f8a15df6b263cd",
        "type": "debug",
        "z": "e4696764f829f966",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "5a743574c016d64e",
        "type": "http response",
        "z": "e4696764f829f966",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 390,
        "y": 760,
        "wires": []
    },
    {
        "id": "72492a4dbd363d2f",
        "type": "twilio out",
        "z": "e4696764f829f966",
        "twilio": "6894eec0502b14a3",
        "twilioType": "sms",
        "url": "",
        "number": "41654 04669",
        "name": "Dispatcher",
        "x": 750,
        "y": 960,
        "wires": []
    },
    {
        "id": "9823676a6d7ccf59",
        "type": "function",
        "z": "e4696764f829f966",
        "name": "",
        "func": "\nname = msg.payload.name\naddress = msg.payload.address\n\n\nmsg.payload = name + \" from \" + address + \" says: Help! I've fallen and I can get up!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 980,
        "wires": [
            [
                "57454ca867865ed6",
                "72492a4dbd363d2f"
            ]
        ]
    }
]